#skills {
  color: white;

  text-align: center;
  margin-block-end: 1.5rem;
  margin-block-start: 2rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  cursor: pointer;
  text-decoration: none;
  justify-content: space-around;
  
}

div > img {
   width: 2rem;

  align-items: center;
}
div > h3 {
font-size: 1rem;
font-weight: normal;
margin:0;
}

